:root {
    // font Family
    // --font-primary: 'Old Standard TT', serif;
    --font-primary: 'Playfair Display', serif;
    --font-secondary: 'Poppins', sans-serif;

    // Font Size
    --fontSize-10: 10px;
    --fontSize-12: 12px;
    --fontSize-13: 13px;
    --fontSize-14: 14px;
    --fontSize-15: 15px;
    --fontSize-16: 16px;
    --fontSize-17: 17px;
    --fontSize-18: 18px;
    --fontSize-20: 20px;
    --fontSize-22: 22px;
    --fontSize-24: 24px;

    // Color Variable
    --color-theme:   #0296c0;
    --color-black1:  #333333;
    --color-black:   #000000;
    --color-borderColor: #E0E0E0;
    --color-white: #ffffff;
}
