body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-secondary);
    line-height: 1.75rem;
    font-size: var(--fontSize-16);
}
ul, ol {
    margin: 0;
    padding: 0;
}
a, a:focus {
    outline: none;
    text-decoration: none;
    color: var(--color-black);
}
a:hover {
    text-decoration: none;
}
select {
    box-shadow: none;
    outline: none;
}
// Font Weight
.fw-300 {
    font-weight: 300;
}
.fw-400 {
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}
.fw-600 {
    font-weight: 600;
}
.fw-700 {
    font-weight: 700;
}
.fw-800 {
    font-weight: 800;
}
.fw-900 {
    font-weight: 900;
}
// Heading
h6, h5, h4, h3, h2, h1 {
    clear: both;
    margin: 0;
	color: var(--color-black1);
    -webkit-font-smoothing: antialiased;
    font-family: var(--font-primary);
}

// Paragraph
p {
    margin:  0;
    font-size: var(--fontSize-16);
    line-height: 1.85rem;
    font-family: var(--font-secondary);
    color: var(--color-black);
    font-weight: 300;

    @media (max-width: 767px) {
        font-size: var(--fontSize-14);
        line-height: 1.5rem;
    }
}

// Section common Style
.section-title {
    margin-bottom: 3.12rem;

    @media (max-width: 767px) {
        margin-bottom: 2.12rem;
    }

    h1 {
        line-height: 1.4;
    }
    h2 {
        margin-bottom: 0.75rem;
    }
    p {
        font-weight: 300;
        font-size: 1remx;
        line-height: 1.8;
    }
    .subtitle {
        font-size: 1.125rem;
        font-weight: 300;
        color: var(--color-black);
        opacity: 0.8;
    }
}
.section-gap {
    padding-top: 100px;
    padding-bottom: 100px;

    @media (max-width: 767px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
.section-short-gap {
    padding-top: 40px;
    padding-bottom: 40px;
}

// Preloader
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: var(--color-theme);

    .preloader-inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .preloader-icon {
        width: 92px;
        height: 92px;
        display: inline-block;
        padding: 0px;

        span {
            position: absolute;
            display: inline-block;
            width: 92px;
            height: 92px;
            border-radius: 100%;
            background: var(--color-white);
            animation: preloader 1.6s linear infinite;

            &:last-child {
                animation-delay: -0.8s;
            }
        }
    }
}


// Breadcrumb
.breadcrumb {
    margin-bottom: 0;
    margin-top: 0.93rem;
    .breadcrumb-item {
        font-size: 1rem;
        text-transform: uppercase;
        color: var(--color-white);        
        a {
            text-decoration: none;
            color: var(--color-white);
            font-weight: 500;
        }
        &+.breadcrumb-item:before {
            color: var(--color-white);
        }
    }
}

// Buttons
.btn:focus, 
.btn:active:focus {
    outline: none;
    box-shadow: none;
}
.btn-theme-primary {
    border: 1px solid var(--color-theme);
    background-color: var(--color-theme);
    border-radius: 0;
    font-size: 1.12rem;
    color: var(--color-white);
    display: inline-block;
    text-align: center;
    padding: .6rem 1.62rem;
    transition: all 0.4s;

    &:hover {
        background-color: var(--color-black);
        color: var(--color-white);
        border-color: var(--color-black);
    }
}

.btn-theme-secondary {
    display: inline-block;
    padding: .6rem 1.62rem;
    border: 1px solid var(--color-black);
    font-size: 	1.12rem;
    transition: all 0.4s;
    border-radius: 0;
    text-align: center;
    color: var(--color-black);

    &:hover {
        background-color: var(--color-theme);
        color: var(--color-white);
        border-color: var(--color-theme);
    }
}
.btn-alt-secondary {
    display: inline-block;
    padding: .6rem 1.62rem;
    border: 1px solid var(--color-white);
    color: var(--color-white);
    font-size: 	1.12rem;
    text-align: center;
    transition: all 0.4s;

    &:hover {
        background-color: var(--color-white);
        color: var(--color-black);
        border-color: var(--color-white);
    }
}
.btn-style2 {
    text-decoration: none;
    display: inline-block;
    padding: .31rem 1.12rem;
    background-color: var(--color-borderColor);
    color: var(--color-black);
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    transform: scale(1);
    transition: all 0.4s ease;

    &:hover {
        color: var(--color-black);
        transform: scale(1.05);
    }
}


.topbutton {
    z-index: 999;
    position: fixed;
    margin: 0px;
    background: var(--color-theme);
    border-radius: 50%;
    transition: all .3s ease-in-out;
    position: fixed;
    bottom: 100px;
    right: 1.5625rem;
    z-index: 999;
    font-size: 1.5rem;
    color: var(--color-white);
    width: 3.125rem;
    height: 3.125rem;
    text-align: center;
    line-height: 3.125rem;
    opacity: 0;
    visibility: hidden;
    
    &:hover {
        color: var(--color-black1);
    }
}
.topbutton.btn-show {
    opacity: 1;
    visibility: visible;
}
@media (max-width: 480px) {
    .topbutton {
        display: none;
    }
}

// Bloquote
figure.blockquote {
    border-radius: 5px;
    border-left: 4px solid var(--color-theme);
    margin-top: 25px;
    padding: 15px 20px;
    background-color: rgba(47, 128, 237, 0.1);

    p {
        font-family: var(--font-primary);
        font-style: italic;
        font-size: 16px;
        font-weight: 600;
        line-height: 32px;
    }
    figcaption {
        font-size: 15px;
        font-weight: 600;
        color: var(--color-black);
        font-style: italic;
    }
}

// Forms
form {
    input:not([type=checkbox]):not([type=radio]):not([type=submit]) {
        height: 45px;

        &:focus {
            box-shadow: none;
        }
    }
    .form-control {

        &:focus {
            box-shadow: none;
        }
    }
}

/* Animation Keyframes */
@-webkit-keyframes slideInUp {
    from {
      -webkit-transform: translate3d(0, 100px, 0);
      transform: translate3d(0, 100px, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}
@keyframes slideInUp {
    from {
      -webkit-transform: translate3d(0, 100px, 0);
      transform: translate3d(0, 100px, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.8, 0.8, 0.8);
        transform: scale3d(0.8, 0.8, 0.8);
    }

    50% {
        opacity: 1;
    }
}
@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.8, 0.8, 0.8);
        transform: scale3d(0.8, 0.8, 0.8);
    }

    50% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100px, 0, 0);
        transform: translate3d(-100px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100px, 0, 0);
        transform: translate3d(-100px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100px, 0, 0);
        transform: translate3d(100px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100px, 0, 0);
        transform: translate3d(100px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100px, 0);
        transform: translate3d(0, 100px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100px, 0);
        transform: translate3d(0, 100px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes preloader {
    0% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        opacity: 0.5;
    }

    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 0;
    }
}

@-webkit-keyframes preloader {
    0% {
        -webkit-transform: scale(0, 0);
        opacity: 0.5;
    }

    100% {
        -webkit-transform: scale(1, 1);
        opacity: 0;
    }
}